*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.eggs/
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.ropeproject
.scrapy
.tox/
.venv
.webassets-cac
/site
MANIFEST
__pycache__/
build/
coverage.xml
db.sqlite3
develop-eggs/
dist/
downloads/
eggs/
htmlcov/
instance/
lib/
lib64/
local_settings.py
node_modules/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv.bak/
wheels/
