a, a:visited {
	color: #C776DF !important;
}

blockquote {
	font-style: italic;
}

code.docutils {
	background-color: #181a1f;
	border: solid 2px #21252b;
}

.wy-nav-content {
	background: #282C34;
	color: aliceblue;
}

.method dt, .class dt, .data dt, .attribute dt, .function dt,
	.descclassname, .descname {
	background-color: #525252 !important;
	color: white !important;
}

.toc-backref {
	color: grey !important;
}

.wy-nav-content-wrap, .wy-nav-side, .wy-nav-top {
	background-color: #181a1f !important;
}

.btn-neutral, .fa-arrow-circle-right, .fa-arrow-circle-left {
	color: aliceblue !important;
	background-color: #181a1f !important;
}

.btn-neutral:visited {
    color: aliceblue !important;
}

.admonition, .note, .sidebar-title {
	background-color: #21252b !important;
}

.xref, .py-meth {
	color: #7ec3e6 !important;
}

.wy-side-nav-search {
	background-color: inherit;
	border-bottom: 1px solid #b9b9b9;
}

.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    background-color: #dcdcdc;
}

.wy-table thead th, .rst-content table.docutils thead th, .rst-content table.field-list thead th {
    border: solid 2px #b9b9b9;
}

.wy-table thead p, .rst-content table.docutils thead p, .rst-content table.field-list thead p {
    margin: 0;
}

.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
		background-color: #21252B;
}

.highlight {
	background: #21252B;
	border-radius: 6px;
	font-size: 0.675em;
	width: 100%;
	line-height: 1;
	overflow-x: scroll;
	padding: 10px;
	-webkit-font-smoothing: subpixel-antialiased;
}

.linenodiv {
	color: #5B6370;
	text-align: right;
}
