name: Release Management


on:
  push:
    branches:
      - master


jobs:
  update-release-draft:
    name: Draft Release
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5.22.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
